
  <!---<div *ngFor="let emp of employee">
 
  </div>-->
  <div class="d-flex flex-column-1 flex-md-row-1 align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto-1 font-weight-normal">Data Binding and Rendering</h5>
    </div>
  <div class="container">
<div class="row">
  <div class="col" *ngFor="let emp of employee">
      <div class="card mt-2 mb-2 ml-2 " style="width: 19rem;">

        <div class="card-body">
              <h5 class="card-title">{{emp.employee_name}}</h5>

        </div>
        <ul class="list-group list-group-flush" >
         
          
          <li class="list-group-item"><span>Emplpoyee ID: </span>{{emp.id}}</li>
          
          <li class="list-group-item"><span>Emplpoyee Salary: </span>{{emp.employee_salary}} <i class="fa fa-inr"
              aria-hidden="true"></i>{{getCurrency()}}</li>
          <li class="list-group-item"><span>Emplpoyee Age: </span>{{emp.employee_age}}</li>

         
        </ul>

      </div>
  </div>
</div>
</div>

  
